Project2/Code/LoadingData/testdata_caffefeatures.csv
Project2/Code/LoadingData/testdata_caffefeatures_padded.csv
Project2/Code/LoadingData/traindata_caffefeatures.csv
Project2/Code/LoadingData/traindata_caffefeatures_padded.csv
Project2/Code/LoadingData/trainset_caffefeatures.csv
Project2/Code/LoadingData/trainset_caffefeatures_padded.csv
Project2/Code/LoadingData/validationset_caffefeatures.csv
Project2/Code/LoadingData/validationset_caffefeatures_padded.csv
