testdata_caffefeatures.csv
traindata_caffefeatures.csv
trainset_caffefeatures.csv
validationset_caffefeatures.csv
testdata_caffefeatures_padded.csv
traindata_caffefeatures_padded.csv
trainset_caffefeatures_padded.csv
validationset_caffefeatures_padded.csv
